$footer-height: 60px

html, body
  height: 100%

.non-header
  min-height: calc(100vh - #{$footer-height})

footer
  width: 100%
  line-height: $footer-height
  background-color: #f5f5f5

pre
  background: black
  color: LightGreen !important
  padding: 10px

pre > code
  background: transparent
