/*
 * Theme Name: Mytheme
 * Author: Aron Wolf
 * Version: 0.0.1
 * Tags: bootstrap
 * */

body
{
  text-align: left;
}
#ttr_sidebar
{
  border-left: 1px solid black;
}
#ttr_footer
{
  width: 100%;
  border-top: 1px #a2a2a2 solid;
  text-align: center;
}
.title
{
  font-size: 11pt;
  font-family: verdana;
  font-weight: bold;
}
